
{% extends 'base.html' %}

    {% block BlockTitulo %}

    Home - Café Celestia

    {% endblock %}

{% include 'naveltda.html' %}

    {% block BlockConteudo %}
    <div class="container">
        <div class="row mt-4">
            <h3>Envio de Contatos</h3>
            </div>
            <form action="" method="POST" class="row mt-4 p-4 round border shadow">
                {{form.csrf_token}}

                {{form.titulo.label()}}
                {{form.titulo(class="form-control")}}

                {{form.descricao.label()}}
                {{form.descricao(class="form-control")}}

                {{form.qntdestoque.label()}}
                {{form.qntdestoque(class="form-control")}}

                {{form.preco.label()}}
                {{form.preco(class="form-control")}}

                {{form.especial.label()}}
                {{form.especial(class="form-control")}}

                {{form.btnSubmit(class="btn btn-primary form-control col-12 mt-3")}} 
            </form>
        </div>
    </div>


    {% endblock %}
    