
<!-- As a link -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid justify-content-center">
      
      <a class="navbar-brand" href="{{url_for('HomePage')}}">Seja Bem Vindo</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <container class="container">
      <div class="collapse navbar-collapse justify-content-center" id="navbarText">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 justify-content-center">

          <li class="nav-item">
            <a class="navbar-brand" href="{{url_for('HomePage')}}">
                <img src="/docs/5.0/assets/brand/bootstrap-logo.svg coloca aqui a nossa logo" alt="" width="30" height="24" class="d-inline-block align-text-top">Café Celestia</img>
          </li>

          <li class="nav-item">
            <a class=" mt-2 badge bg-primary text-wrap text-light || nav-link active strong " href="{{url_for('MenuPage')}}" style="width: 12rem;">Menu</a>

          </li>

        </ul>
        <span class="navbar-text justify-content-center text-center ">
          
        </span>
        </container>
      </div>
      
    </div>
    
  </nav>
  