
{% extends 'base.html' %}

    {% block BlockTitulo %}

    Home - Café Celestia

    {% endblock %}

{% include 'nave.html' %}

    {% block BlockConteudo %}

    HOME 

    SEM LOGIN ---> Mover para Login

    COM LOGIN ---> Prosseguir normalmente
    -Configurações de Perfil
    -Olá {{user}}!
    -Nós da Café Celestia te desejamos um ótimo dia!
    
    - FAQ
    - CONTATO               }
    - SOBRE Nós (empresa)   } ISSO VAI ESTAR NO RODA pÉ



    {% include 'naverodapé.html' %}
    {% endblock %}

